<div style="background-image: public/images/6104068209_d134b246f5_b.jpg"></div>


<div class="columns">
    <div class="column">
        <div class="card3">
            <div class="card-content">
                <div class="field">
                    <h1 class="title">Patient Link</h1>
                    <h2 class="sub-title">Helping your patients by helping you manage them.</h2>
                    <h2 class="sub-title">Continue here</h2>
                    <div class="button" id="signin">Sign in</div>
                    <div class="button" id="signup">Sign up</div>
                </div>
            </div>
        </div>
    </div>
</div>