<div class="block">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">Have Patients</h1>
                <h2 class="subtitle has-text-centered">Create New Patient</h2>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="columns">
        <div class="column is-2">
        </div>
        <div class="column is-8">
            <div class="box">
                <!-- <h1 class="title">New Patient</h1>
            <div class="field">
                <label class="label">Full Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="John Doe">
                </div>
            </div> -->
                <form action="newPatient" method="post" id="newPatient">
                    <div class="field">
                        <label class="label">Full Name</label>
                        <!-- <div class="control has-icons-left has-icons-right"> -->
                        <div class="control has-icons-left">

                            <input class="input" type="text" placeholder="John Doe">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <!-- <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span> -->
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Birthday</label>
                        <div class="control has-icons-left">

                            <input type="date" class="input date" id="start-date" name="birthday" min="2018-01-01" max="2020-12-31">
                            <span class="icon is-small is-left">
                                <i class="fas fa-birthday-cake"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Phone Number</label>
                        <!-- <div class="control has-icons-left has-icons-right"> -->
                        <div class="control has-icons-left">

                            <input id="phone" class="input" type="text" placeholder="(555) 555-5555">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="name@example.com">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Home Address</label>
                        <div class="control has-icons-left">

                            <input class="input" type="text" placeholder="1600 Pennsylvania Avenue, Washington DC">
                            <span class="icon is-small is-left">
                                <i class="fas fa-home"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Doctor</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Doctor Dre</option>
                                    <option>Doctor Who</option>
                                    <option>Doctor Quinn</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Notes</label>
                        <div class="control">
                            <textarea class="textarea " placeholder="Text area"></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-text">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="column is-2">
        </div>
    </div>
</div>