<div id="patient-content" class="content" style="display: block">
    <style>
        html {
            background: url("/images/analytics.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        h5 {
            color: white
        }

        .chart .bar {
            background-color: steelblue;
            position: relative;
            height: 35px;
            margin-bottom: 5px;
            text-align: right;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            padding-right: 10px;
            padding-top: 10px;
            margin-right: 10px;
        }

       .chart {
           overflow: hidden;
       }

        .bar:hover {
            background: green;
        }

        .name {
            position: absolute;
            margin-left: 10px;
        }

        .hidden {
            display: none;
        }

        .show {
            transition-delay: .5;
        }
    </style>

    <div id="logout-box" class="has-text-centered navigation-box">
        <a href="\logout" class="hover-glow">
            <h2 class="subtitle" style="color: white; font-size: 20px; margin-top: 3px"> Sign out</h2>
        </a>
    </div>

    <div id="dashboard-box" class="has-text-centered navigation-box">
        <a href="\dashboard" class="hover-glow">
            <h2 class="subtitle" style="color: white; font-size: 20px; margin-top: 3px"> Dashboard</h2>
        </a>
    </div>

    <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-8">
            <div class="box">

                <h1 style="color:white" class="has-text-centered">Healthcare Key Performance Indicators</h1>
                <h3 style="color:white" class="has-text-centered">Month Of October</h3>
                <h3 style="color:white" class="has-text-centered">(CMC): Charlotte Medical Center -- (NA): National
                    Average</h3>
                <h3 style="color:white" class="has-text-centered"></h3>
                <div class="main">
                    <div class="chart"></div>

                    <button id="toggle">Show</button>
                </div>

            </div>
        </div>
        <div class="column is-2"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="/js/analytics.js"></script>