<div class="tabs is-centered is-medium">
    <ul>
        <li class="tab" onclick="tabChanger(event, 'all-patients-content')" id="all-patients-tab">
            <a class="tab-link" id="all-patients-tab-link">
                <span class="tab-text" id="all-patients-tab-text"><span class="icon is-small"><i class="fas fa-address-book"
                            aria-hidden="true"></i></span>All Patients</span>
            </a>
        </li>
        <li class="tab" onclick="tabChanger(event, 'add-patient-content')" id="add-patient-tab">
            <a class="tab-link" id="new-patient-tab-link">
                <span class="tab-text" id="new-patient-tab-text"> <span class="icon is-small"><i class="fas fa-plus"
                            aria-hidden="true"></i></span>
                    Create New Patient</span>
            </a>
        </li>
        <li class="tab" onclick="tabChanger(event, 'all-doctors-content')" id="all-doctors-tab">
            <a class="tab-link" id="all-doctors-tab-link">
                <span class="tab-text" id="all-doctors-tab-text"> <span class="icon is-small"><i class="fas fa-user-md"
                            aria-hidden="true"></i></span>
                    All Doctors</span>
            </a>
        </li>
        <li class="tab" onclick="tabChanger(event, 'add-doctor-content')" id="add-doctor-tab">
            <a class="tab-link" id="add-doctor-tab-link">
                <span class="tab-text" id="add-doctor-tab-text"> <span class="icon is-small"><i class="fas fa-plus-square"
                            aria-hidden="true"></i></span>
                    Create New Doctor</span>
            </a>
        </li>
    </ul>
</div>
<style>
    html {
        background: url("/images/dash-background.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    li {
        width: 25%;
    }
    .is-2 {
        background-color: rgb(63, 63, 63);
        color: white;
    }
</style>

<div id="all-patients-content" class="tab-content" style="display: none">
    <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-6">
            <div style="overflow:auto; height: 600px" class="table-holders">
                <h3 class="title is-2 has-text-centered"> <strong>Patients</strong></h3>
                <table class="table is-bordered is-narrow" id="patient-table">
                    <thead>
                        <th id="patient-table-header">
                            All Patients
                        </th>
                    </thead>
                    <tbody id="patient-holder">

                    </tbody>
                </table>

            </div>
        </div>
        <div class="column is-3"></div>
    </div>
</div>


<div id="add-patient-content" class="tab-content" style="display: none">
    <div class="columns">
        <div class="column is-3">
        </div>
        <div class="column is-6">
            <div class="box">
                <h3 class="title is-2 has-text-centered"><strong>Add a New Patient</strong></h3>
                <form action="dashboard" method="get" id="dashboard">
                    <div class="field">
                        <label class="label">Full Name</label>
                        <div class="control has-icons-left">

                            <input class="input" id="name" type="text" placeholder="John Doe">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Birthday</label>
                        <div class="control has-icons-left">

                            <input type="date" class="input date" id="birthday" name="birthday" min="1900-01-01" max="2020-12-31">
                            <span class="icon is-small is-left">
                                <i class="fas fa-birthday-cake"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Phone Number</label>
                        <div class="control has-icons-left">

                            <input id="phone" class="input phone" type="text" placeholder="(555) 555-5555">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" id="newEmail" type="email" placeholder="name@example.com">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Home Address</label>
                        <div class="control has-icons-left">

                            <input class="input" id="address" type="text" placeholder="1600 Pennsylvania Avenue, Washington DC">
                            <span class="icon is-small is-left">
                                <i class="fas fa-home"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Notes</label>
                        <div class="control">
                            <textarea class="textarea " placeholder="Text area"></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-text" id="newPatientBtn">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="column is-3">
        </div>
    </div>

</div>
<div id="all-doctors-content" class="tab-content" style="display: none">
    <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-6">
            <div style="overflow:auto; height: 600px" class="table-holders">
                <h3 class="title is-2 has-text-centered"><strong>Doctors</strong></h3>
                <table class="table is-bordered is-narrow" id="doctor-table">
                    <thead>
                        <tr>
                            <th id="doctor-table-header">
                                All Doctors
                            </th>
                        </tr>
                    </thead>
                    <tbody id="doctor-holder">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="column is-3"></div>
    </div>
</div>
<div id="add-doctor-content" class="tab-content" style="display: none">
    <div class="columns">
        <div class="column is-3">
        </div>
        <div class="column is-6">
            <div class="box">
                <h3 class="title is-2 has-text-centered"><strong>Add a New Doctor</strong></h3>
                <form action="dashboard" method="get" id="dashboard">
                    <div class="field">
                        <label class="label">Full Name</label>
                        <div class="control has-icons-left">
                            <input id="docName" class="input" type="text" placeholder="John Doe">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Specialty</label>
                        <div class="control has-icons-left">

                            <input id="docSpecialty" class="input" type="text" placeholder="Anesthesiologist">
                            <span class="icon is-small is-left">
                                <i class="fas fa-thumbs-up"></i>
                            </span>
                        </div>
                    </div>


                    <div class="field">
                        <label class="label">Phone Number</label>
                        <div class="control has-icons-left">
                            <input id="docPhone" class="input phone" type="text" placeholder="(555) 555-5555">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                            <input id="docEmail" class="input" type="email" placeholder="name@example.com">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Patient Id</label>
                        <div class="control has-icons-left">
                            <input id="docPatient" class="input" type="text" placeholder="1">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button id="newDoctorBtn" class="button is-text">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="column is-3">
        </div>
    </div>
</div>

<div class="modal" id="add-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="name-container">
            </p>
        </header>
        <section class="modal-card-body">
            <div class="container" id="modal-container">
                <div class="box" id="modal-box">
                    <form action="" method="post">

                        <div class="field">
                            <label class="label">Patient ID</label>
                            <input class="input hidden-input" type="text">
                            <p class="id-container">

                            </p>

                        </div>

                        <div class="field">
                            <label class="label">Birthday</label>
                            <input class="input hidden-input" type="text">
                            <p class="birthday-container editable">

                            </p>

                        </div>

                        <div class="field">
                            <label class="label">Phone Number</label>
                            <input class="input hidden-input" type="text">
                            <p class="phone-container editable">
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">Email</label>
                            <input class="input hidden-input" type="email">
                            <p class="email-container editable">
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">Home Address</label>
                            <input class="input hidden-input" type="text">
                            <p class="address-container editable">
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">Doctors</label>
                            <input class="input hidden-input" type="text">
                            <div class="doctor-container">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Prescriptions</label>
                            <div class="prescription-container">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Notes</label>
                            <input class="input hidden-input" type="text">
                            <p class="notes-container">
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-dark" id="save-changes-button">Save Changes</button>
            <button class="button" id="add-cancel-button">Cancel</button>
        </footer>
    </div>
</div>