<div class="body">
    <style>
        html {
            background: url("/images/shutterstock_594717740.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div class="card">
        <div class="has-text-white card-content">
            <div class="field">
                <h1 class="title" style="color: white; font-weight: bold;">Patient Link</h1>
                <h2 class="subtitle ">Empowering excellent medical care for all.</h2>
                <br>
                <a href="\signin" style="color: white" id="sign-in">
                    <h2 class="subtitle ">Sign in</h2>
                </a>
                <br>
                <a href="signin" style="color: white" id="sign-up">
                    <h2 class="subtitle ">Sign up</h2>
                </a>
            </div>
        </div>
    </div>
</div>