<style>
    html {
        background: url("/images/shutterstock_594717740.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div class="columns">

    <div class="column">
        <div class="card card3">
            <div class="has-text-white card-content">
                <div class="field">
                    <h1 class=" title" style="color: white">Patient Link</h1>

                    <h2 class="sub-title">Helping your patients by helping you manage them.</h2>

                    <h2 class="sub-title">Continue here</h2>

                    <a href="views\layouts\signin.handlebars" style="color: white" id="sign-in">Sign in</a>

                    <a href="views\layouts\signin.handlebars" style="color: white" id="sign-up">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>