<div id="patient-content" class="tab-content" style="display: block">
    <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-8">
            <h3 class="title is-3 has-text-centered">mfnfjf</h3>
            <table class="table is-bordered is-striped is-narrow is-hoverable" id="patient-table">
                <thead>
                    <tr>
                        <th>All Patients</th>
                    </tr>
                </thead>
                <tbody id="patient-holder">
                </tbody>
            </table>
        </div>
        <div class="column is-2"></div>
    </div>
</div>