<div class="body">
    <style>
        html {
            background: url("/images/medical-funding.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div class="card" id="sign-in-box">
        <div class="has-text-white card-content">
            <div class="field">
                <form id="signin" name="signin" method="post" action="signin">
                    <h1 class="title has-text-centered" style="color: white">Sign in</h1>
                    <div class="field">
                        <div class="control">
                            <input class="text input" name="email" type="text" placeholder="E-mail@example.com">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="password" class="input" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="btn button is-inverted is-dark" type="submit" value="Sign In">
                        </div>
                        <div class="control" id="sign-up-prompt">
                            Not a member yet? <a href="signup" id="sign-up-link">Sign up now.</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>