<div class="body">
    <style>
        html {
            background: url("/images/people_doctor-reading-patient-chart_landscape.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div class="card" id="sign-in-box">
        <div class="has-text-white card-content">
            {{!-- <form id="signup" name="signup" method="post" action="/signup">
                <label for="email">Email Address</label>
                <input class="text" name="email" type="email" />
                <label for="firstname">Firstname</label>
                <input name="firstname" type="text" />
                <label for="lastname">Lastname</label>
                <input name="lastname" type="text" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <input class="btn" type="submit" value="Sign Up" />
            </form> --}}
            <form id="signup" name="signup" method="post" action="/signup">
                <h1 class="title has-text-centered" style="color: white">Sign up</h1>
                <div class="field">
                    <div class="control">
                        <label for="email">Email Address</label>
                        <input class="text input" name="email" type="email" placeholder="E-mail@example.com">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="firstname">First Name</label>
                        <input class="text input" name="firstname" type="text" placeholder="John Doe">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="lastname">Last Name</label>
                        <input class="text input" name="lastname" type="text" placeholder="John Doe">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="password">Password</label>
                        <input name="password" class="input" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="btn button is-inverted is-dark" type="submit" value="Sign Up">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>