{{!-- commented out for testing
<div class="block">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">Have Patients</h1>
                <!-- <h2 class="subtitle">Hero Subtitle</h2> -->
            </div>
        </div>
    </section>
</div>
<div class="columns">

    <div class="column is-8">
        <img src="../../public/images/doctor.png" alt="Doctor">
    </div>
    <div class="column is-4">
        <div class="box">
            <form id="signin" name="signin" method="post" action="signin">
                <h1 class="title has-text-centered">log in</h1>
                <div class="field">
                    <div class="control">
                        <input class="input is-primary" type="text" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-primary" type="text" placeholder="User name">
                    </div>
                </div>
                <a href="../example.handlebars" id="submit"> Submit</a>
            </form>
        </div>
    </div>
</div> --}}
<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
</body>

</html>