.list-group-item {
  line-height: 2.5;
}

.title {
  font-size: 80px
}

body, html {
  height: 100%;
}

html {
  background: url("../images/background\ color.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

.box {
  opacity: .7;
  height: 100%
}

.input {
  padding-top: 20px;
}

.a {
  border-block-end-color: black;
}