.list-group-item {
  line-height: 2.5;
}

.title {
  font-size: 60px
}
.subtitle {
  font-size: 30px
}

body, html {
  height: 100%;
}

html { 
  background: url("") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }


.box {
  opacity: .9;
  height: 100%
}

.input-add-patient {
  width: 50%;
}

#patient-table, #doctor-table { 
  width: 65% 
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.hidden-input {
  display: none;
}
.card3 {
  background-color: rgb(63, 63,63); 
  opacity: .9;
  width: 40%;
  height:100%;
  margin-top: 10%;
  text-align: center;
}
